<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js part-1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app"> 
       <h2 v-if="seen"> {{message}}</h2>
       <h2 v-if="seen1"> {{message1}}</h2>
    </div>
    <h1>Hello Vue</h1>
    <script> 
        var app = new Vue({ 
            el:'#app',
            data:{ 
                seen:true,
                seen1:true,
                message:'hello vue ...',
                message1:'hello vue 2 ..'
            }
        })
    </script>
</body>
</html>